# Ubuntu like ls
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# nodejs & yarn installer by asdf
alias asdf_node='asdf list-all nodejs | fzf | xargs -i asdf install nodejs {} && corepack enable && asdf reshim nodejs && node --version && yarn --version'

# my-aliases
alias cdls='md $(la | fzf)'
alias kp='lsof -i -P | fzf | sed -e "s/^[^ ]*[ ]*\([0-9]*\).*/\1/" | xargs -n1 kill -9'
alias lsbat='bat $(la | fzf)'

## aliases for git
alias gc='git checkout'
alias fgc='gc $(git branch | fzf)'
alias fgrb='git rebase $(git branch | fzf)'
alias grh='git reset --hard HEAD'
alias glo='git log --oneline'
alias gs='git status'
alias gri='git rebase -i'
alias fgl='git log --oneline | fzf | sed -e "s/\([a-z0-9]\{7\}\).*/\1/" | xargs echo'
alias fgri='gri $(fgl)'
alias fgb='git branch --no-color | fzf | sed -e "s/* \(.*\)/\1/" | xargs echo'
alias gbc='git branch --no-color | sed -e "/^[^*]/d" -e "s/* \(.*\)/\1/" | xargs echo'
alias gpush='git push origin $(gbc)'
alias gpull='git pull origin $(gbc)'
alias gsu='git submodule update'
